{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}
<div class="main-body">
    <h3>Reception</h3>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Search Here:</h4>
            </div>
            <div class="card-body">
                <div class="form-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" name="search-term" id="id_search-term" placeholder="Enter Keyword..." class="form-control" required>
                            </div>
                            <div class="form-group col-md-3">
                                <select name="search-category" id="id_search-category" class="form-control" required>
                                    <option value="">---------</option>
                                    <option value="Name">Patient Name</option>
                                    <option value="Tel">Phone</option>
                                    <option value="ID">National I.D</option>
                                    <option value="OP">O/P Number</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if patients %}

        <div class="record-listing-wrapper">
            <div class="header-sect">
                <h3>Search Results <small>{{patients|length}} found</small></h3>
            </div>
            <div class="listing-cont">
                {% if patients|length > 0 %}
                <table id="main-table" class="listing-data-cont">
                    <thead>
                        <tr class="info-title-wrapper">
                            <th class="columnHeader sort-control bi-sort-up"> Num</th>
                            <th class="columnHeader sort-control bi-sort-up"> Name</th>
                            <th class="columnHeader sort-control bi-sort-up"> Phone</th>
                            <th class="columnHeader sort-control bi-sort-up"> National I.D</th>
                            <th class="columnHeader sort-control bi-sort-up"> File Number</th>
                            <th class="columnHeader sort-control bi-sort-up"> Payer</th>
                            <th class="columnHeader sort-control bi-sort-up"> Gender</th>
                            <th class="columnHeader sort-control bi-sort-up"> Visit Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>                    
                        {% for pat in patients %}
                        <tr class="row-items-wrapper">
                            <td class="row-item">{{forloop.counter}}</td>
                            <td class="row-item">{{pat}}</td>
                            <td class="row-item">{{pat.phone}}</td>
                            <td class="row-item">{{pat.national_id}}</td>
                            <td class="row-item">{{pat.op_number}}</td>
                            <td class="row-item">{{pat.payment_mode}}</td>
                            <td class="row-item">{{pat.gender}}</td>
                            <td class="row-item">{{pat.admission_category}}</td>
                            <td class="row-item"><center><a href="{% url 'rec-show-patient' pat.id %}" class="bi-pencil-square"></a></center></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>          
                {% else %}
                <div class="empty-container">
                    <span>There are no patient records yet.</span>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include 'table-scripts.html' %}
{% endblock content %}