{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}
<div class="main-body">
    <div class="record-listing-wrapper">
        <div class="header-sect">
            <h3>{{page_title}}</h3>
        </div>
        <div class="listing-cont">
            {% if leave_requests|length > 0 %}
            <table id="main-table-all" class="listing-data-cont table table-bordered table-striped">
                <thead>
                    <tr class="info-title-wrapper">
                        <th class="columnHeader sort-control bi-sort-up"> #</th>
                        <th class="columnHeader sort-control bi-sort-up"> Employee Name</th>
                        <th class="columnHeader sort-control bi-sort-up"> Leave Type</th>
                        <th class="columnHeader sort-control bi-sort-up"> Posted On</th>
                        <th class="columnHeader sort-control bi-sort-up"> Department</th>
                        <th class="columnHeader sort-control bi-sort-up"> Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in leave_requests %}
                    <tr class="row-items-wrapper">
                        <td class="row-item">{{forloop.counter}}</td>
                        <td class="row-item">{{item.employee}}</td>
                        <td class="row-item">{{item.leave_type}}</td>
                        <td class="row-item">{{item.created}}</td>
                        <td class="row-item">{{item.employee.department}}</td>
                        <td class="row-item">{{item.status}}</td>
                        <td class="row-item"><center><a href="{% url 'hr-leave-request-file' item.id %}" class="bi-pencil-square"></a></center></td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table> 
            {% else %}
            <div class="empty-container">
                <span>There are no records yet.</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% include 'table-scripts.html' %}
{% endblock content %}