{% extends 'main.html' %}
{% block content %}
{% load custom_tags %}
{% load static %}
<div class="main-body">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Finance Office</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'finance' %}">Finance</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title fos-unset mb-0 mt-2" style="font-size: 14px;">Accounting & Finance</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="admin-links">
                        <h4 class="mt-4 mb-2">Settings</h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'admin-settings-creditors' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="bi-cash-coin"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Debitors And Creditors</span>
                                        <span class="info-box-number">Payer Schemes</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'admin-settings-payment-modes' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="bi-cash-coin"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Payment Modes</span>
                                        <span class="info-box-number">Payer Types</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'admin-settings-financial-accounts' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="bi-cash-coin"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Financial Accounts</span>
                                        <span class="info-box-number">Income & Bank Accounts</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'admin-settings-cash-options' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="bi-cash-coin"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Cash Payment Options</span>
                                        <span class="info-box-number">As Cash</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h4 class="mt-4 mb-2">Reports</h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'daily-collection-report' %}" target="_blank" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="fas fa-receipt"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Daily Collection</span>
                                        <!-- <span class="info-box-number">Info</span> -->
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'finance-dpt-collection' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="fas fa-receipt"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Departmental Income</span>
                                        <!-- <span class="info-box-number">Info</span> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h4 class="mt-4 mb-2">Accounting</h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <a href="{% url 'cash-petty-cash' %}" class="info-box shadow">
                                    <span class="info-box-icon bg-primary"><i class="fas fa-receipt"></i></span>
                    
                                    <div class="info-box-content">
                                        <span class="info-box-text">Expense Management</span>
                                        <!-- <span class="info-box-number">Info</span> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}