{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<div class="main-body">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 p-3">
                    <h1 class="text-brand-blue bold">Forgot Password</h1>
                </div>
                <div class="col-sm-6 p-3">
                    <ol class="breadcrumb float-sm-right bg-light">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Forgot Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="card col-md-6 mx-auto p-2 shadow-none">
            <div class="card-header">
                <span class="card-title">Forgot password</span>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-row py-3">
                        <div class="form-group col-md-12">
                            <label for="id_email">Your Email:</label>
                            <input type="email" name="email" id="id_email" placeholder="email" required class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-row py-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-primary-brand border-0 p-2 btn-block">Request To Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white">
                <a href="{% url 'login' %}">Back to login</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}