{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}
<head>
	<style>
body {
  background-color: #f0f5f9;
}
/* table{
	width: 96%;
	margin: 0 auto;
} */
table thead{
	background-color: var(--brand-white);
	border: none;
}
table thead th{
	font-size: 16px;
	font-weight: 500;
}
table tbody{
	border-top: 0;
	font-size: 14px;
}

.card {
  border: none;
}

.card-header {
	background-color: var(--brand-blue);
	color: var(--brand-white);
}
.btn-tool{
	color: var(--brand-white);
}
.card-body {
  background-color: var(--brand-white);
  color:  var(--brand-black);
}

/* Customize other elements as needed */

	</style>
</head>
<div class="main-body">
    <div class="container-md mb-4">
        <div class="row">
            <div class="d-flex flex-row w-fit p-2 align-items-center gap-2">
                <img src="{% static user.profile_photo.url %}" alt="avatar" width="70" height="70" class="img-normal rounded">
                <div class="row align-items-center">
                    <p class="m-0">{{'Good '|time_greeting}}, <strong>{{user}}</strong></p>
                    <small class="text-muted">{{user.department}} account</small>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="content-header w-100">
                <div class="row">
                    <div class="col-sm-6 p-1">
                        <h3 class="text-brand-black">Analytics</h3>
                    </div>
                    <div class="col-sm-6 p-1">
                        <div class="float-sm-right">
                            <a href="{% url 'edit-profile' %}" class="btn btn-primary btn-primary-brand border-0 bi-gear shadow-sm"> Account Settings <i class="bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 d-flex flex-wrap flex-row gap-4 p-2">
                <div class="p-4 rounded shadow d-flex flex-row align-items-center top-outline-success fill-480 bg-white">
                    <div class="col-md-8 d-flex flex-column">
                        <span class="col-md-12"><small class="m-0">Total Expenses</small></span>
                        <h2 class="md bold"><small>KES. </small>{{total_expenses}}</h2>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'svgs/project.svg' %}" alt="icon" width="80" height="80" class="bg-light p-2 rounded-circle">
                    </div>
                </div>
                <div class="p-4 rounded shadow d-flex flex-row align-items-center fill-480 top-outline-primary bg-white">
                    <div class="col-md-8 d-flex flex-column">
                        <span class="col-md-12"><small class="m-0">Total Collection</small></span>
                        <h2 class="md bold"><small>KES. </small>{{total_collection}}</h2>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'svgs/project-active.svg' %}" alt="icon" width="80" height="80" class="bg-light p-2 rounded-circle">
                    </div>
                </div>
                <div class="p-4 rounded shadow d-flex flex-row align-items-center fill-480 top-outline-primary bg-white">
                    <div class="col-md-8 d-flex flex-column">
                        <span class="col-md-12"><small class="m-0">New Patients</small></span>
                        <h2 class="md bold">{{patient_files|length}}</h2>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'svgs/community.svg' %}" alt="icon" width="80" height="80" class="bg-light p-2 rounded-circle">
                    </div>
                </div>
                <div class="p-4 rounded shadow d-flex flex-row align-items-center fill-480 top-outline-primary bg-white">
                    <div class="col-md-8 d-flex flex-column">
                        <span class="col-md-12"><small class="m-0">Total Patients</small></span>
                        <h2 class="lg bold">{{patient_files|length}}</h2>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'svgs/community.svg' %}" alt="icon" width="80" height="80" class="bg-light p-2 rounded-circle">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-md mt-5">
  <div class="row">
    <div class="col-md-8 connectedSortable">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<div class="card-title">Daily Departmental Sales</div>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>				
			</div>
			<div class="card-body">
				<!-- Display Daily Departmental Sales -->
				<canvas id="dptIncomeChart" width="400" height="200" keys="{% for k,v in daily_dpt_income.items %}{{k}}{% if not forloop.last %},{% endif %}{% endfor %}" op_values="{% for k,v in daily_dpt_income.items %}{{v|get_list_item:1}}{% if not forloop.last %},{% endif %}{% endfor %}" ip_values="{% for k,v in daily_dpt_income.items %}{{v|get_list_item:0}}{% if not forloop.last %},{% endif %}{% endfor %}"></canvas>
			</div>
		</div>
        <div class="card card-primary card-outline">
            <div class="card-header border-transparent">
            <h3 class="card-title">Recent Patients</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
            </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0" id="main-table">
                        <thead>
                            <tr>
                                <th>File No.</th>
                                <th>Patient</th>
                                <th>Admission</th>
                                <th>Payer</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pat_file in patient_files %}
                            <tr>
                                <td>{{pat_file.patlog_id}}</td>
                                <td>{{pat_file.patient.full_name}}</td>
                                <td><span class="sparkbar">{{pat_file.admission_category}}</span></td>
                                <td><span class="sparkbar">{{pat_file.payment_mode}}</span></td>
                                <td>
                                    {% if pat_file.cash_cleared %}
                                    <div class="badge badge-success" data-color="#00a65a" data-height="20">Cleared</div>
                                    {% else %}
                                    <div class="badge badge-warning" data-color="#00a65a" data-height="20">In Progress</div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		<div class="card card-primary card-outline">
			<div class="card-header">
				<div class="card-title">Recent Services Offered</div>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="main-table-mini" class="table table-striped">
						<thead>
							<th>#</th>
							<th>Service</th>
							<th>Department</th>
							<th>Payer Scheme</th>
							<th>Price</th>
						</thead>
						<tbody>
							{% for ser in today_services %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{ser}}</td>
								<td>{{ser.service.department}}</td>
								<td>{{ser.patient_log.payment_mode}}</td>
								<td>{{ser.total_amount}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			<!-- Display pending and accepted installation requests -->
			</div>
		</div>
		<div class="card card-primary card-outline">
			<div class="card-header">
				<div class="card-title">Today's Appointments</div>
				<div class="card-tools">
					<a href="{% url 'rec-appointments' %}#create-appointment" class="btn btn-tool" title="Add New" data-widget="new-appointment-toggle">
					<i class="fas fa-plus-square"></i>
				  </a>
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table m-0" id="main-table">
						<thead>
							<tr>
								<th>File No.</th>
								<th>Name</th>
								<th>Schedule</th>
								<th>Doctor</th>
								<th>Admission</th>
								<th>Payer</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for pat_file in appointments %}
							<tr>
								<td>{{pat_file.apt_id}}</td>
								<td>{{pat_file.name}}</td>
								<td>{{pat_file.appointment_date}}</td>
								<td>{{pat_file.doctor}}</td>
								<td>{{pat_file.admission_category}}</td>
								<td>{{pat_file.payment_mode}}</td>
								<td>
									{% if pat_file.cleared %}
									<div class="badge badge-success" data-color="#00a65a" data-height="20">Cleared</div>
									{% else %}
									<div class="badge badge-warning" data-color="#00a65a" data-height="20">Pending</div>
									{% endif %}
								</td>
								<td><a href="{% url 'appointment-file' pat_file.id %}">Details</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card card-primary card-outline">
			<div class="card-header">
				<div class="card-title">Today's Collection</div>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<div class="card-body p-0">
				<!-- <div class="row"> -->
					<div class="col-md-12 bg-white p-3 rounded scrollable-x">
						<div class="table-responsive">
							<table id="main-table-mini" class="table table-striped">
								<caption> <small class="text-muted">Collection Sales</small></caption>
								<thead>
									<th>#</th>
									<th>Payment Mode</th>
									<th>Amount</th>
									<!-- <th>Status</th> -->
								</thead>
								<tbody>
									{% for payer,amount in collections.items %}
									<tr>
										<td>{{forloop.counter}}</td>
										<td>{{payer}}</td>
										<td>{{amount}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				<!-- </div> -->
			<!-- Display installation status and progress updates -->
			</div>
		</div>
    </div>

    <div class="col-md-4">
		<div class="card p-0">
			<div class="card-header p-2">
				<div class="card-title w-fit m-0 p-0">Profile Info</div>
				<div class="card-tools w-fit m-0 p-0">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>          
			</div>
			<div class="card-body p-2">
				<div class="col-md-12">
					<div class="col-md-8 mx-auto text-center">
						<img src="{% static user.profile_photo.url %}" alt="avatar" class="rounded-circle border img-normal" width="150" height="150">
						<div class="row d-flex flex-column mt-2">
							<p>{{user.get_full_name}}</p>
							<small class="text-muted">{{partner.role}}</small>
						</div>
					</div>
					<div class="col-md-12 p-3">
						<a href="{% url 'edit-profile' %}" class="btn btn-primary btn-primary-brand border-0 btn-block">Edit Profile</a>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>
</div>

<!-- Bootstrap JS (jQuery and Popper.js are required) -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

<!-- Custom JavaScript -->
<script>
    // Example data for payment trends
	const dptIncomeChartCanvas = document.getElementById('dptIncomeChart');
	var dpt_keys = dptIncomeChartCanvas.getAttribute('keys');
	var op_dpt_values = dptIncomeChartCanvas.getAttribute('op_values');
	var ip_dpt_values = dptIncomeChartCanvas.getAttribute('ip_values');
	var keysArr = dpt_keys.split(',');
	var opValuesArr = op_dpt_values.split(',');
	var ipValuesArr = ip_dpt_values.split(',');
	const dptIncomeData = {
	labels: keysArr,
	datasets: [
		{
		label: 'Outpatient Income',
		backgroundColor: 'rgba(40, 67, 169, 0.5)',
		borderColor: 'rgba(40, 67, 169, 1)',
		borderWidth: 1,
		data: opValuesArr,
		},
		{
		label: 'Inpatient Income',
		backgroundColor: 'rgba(167, 40, 69, 0.5)', // Green with opacity
		borderColor: 'rgba(167, 40, 69, 1)', // Solid green
		borderWidth: 1,
		data: ipValuesArr,
		},
	],
	};

	const dptIncomeChart = new Chart(dptIncomeChartCanvas, {
		type: 'line',
		data: dptIncomeData,
	});
</script>
{% include 'table-scripts.html' %}
{% endblock content %}
