
{% block content %}
{% load custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{page_title|default:"Hospillar"}}</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}">

    <!-- sweetalert2 plugin -->
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2-main/sweetalert2.min.css' %}">
</head>

<body class="bg-gradient-primary">
    {% if messages %}
            {% for message in messages %}
            <div class="backend-message" message_tags="{{ message.tags }}" message_text="{{ message }}"></div>
        <!-- <div class="messages {{ message.tags }} messages-alert alert alert-primary" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        
            {% endfor %}
    {% endif %}

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-header">
                        <h3 class="m-auto">HOSPILLAR MANAGEMENT SYSTEM</h3>
                    </div>
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                <img src="{% static 'undraw/undraw_sign__up_nm4k.svg' %}" alt="...">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <form class="user" action="" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" aria-describedby="usernameHelp" name="username" id="id_username" placeholder="Enter username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="password" id="id_password" placeholder="Password" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="togglePassword">
                                                <label class="custom-control-label" for="togglePassword">Show Password</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                        <hr>
                                        <a href="#" class="btn btn-google btn-user btn-block" onclick="makeToast('warning','Just kidding😄, we don\'t do that here!')">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="#" class="btn btn-facebook btn-user btn-block" onclick="makeToast('warning','Just kidding😄, we don\'t do that here!')">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'forgot-password' %}" onclick="makeToast('error','Please contact dev team!')">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="#" onclick="makeToast('error','Please contact dev team!')">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
        togglePassword.addEventListener('click', () => {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('bi-eye');
        });
    </script>
    <script src="{% static 'plugins/sweetalert2-main/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script> 
</body>

</html>
{% endblock content %}