{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}
<div class="main-body">
    <h1>Unauthorized</h1>
    <div class="container main-body">
        <div class="border row p-4">
            <p>You do not have permission to access the requested page. You can switch accounts or contact admin.</p>
            <div class="col-md-12">
                <a href="{% url 'login' %}" class="btn btn-primary">Switch Accounts</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}