{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load custom_tags %}
<head>
    <link rel="stylesheet" href="{% static 'css/cashier-styles.css' %}">
</head>
<div class="main-body">
    <h3>Cash Office</h3>
    <div class="cash-nav-links">
        <a href="{% url 'cash-pending' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Pending Payments</span>
        </a>
        <a href="{% url 'cash-cleared' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Daily Cleared Payments</span>
        </a>
        <a href="{% url 'cash-uncompleted' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="bi-receipt"></i>
            </span>
            <span class="text">Uncompleted Payments</span>
        </a>
        <a href="{% url 'cash-receipts' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="bi-receipt"></i>
            </span>
            <span class="text">Reprint Receipts</span>
        </a>
        <a href="{% url 'cash-patient-invoices' %}" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
                <i class="bi-receipt"></i>
            </span>
            <span class="text">Patient Invoices</span>
        </a>
    </div>
    <div class="summary-reports-wrapper">
        <div class="header-sect">
            <h4>Today's Summary Reports</h4>
            <!-- {% for item in request.META %}
            <p>{{item}}</p><br>
            {% endfor %} -->
            <!-- {{request.META}} -->
            
        </div>
        <!-- <div class="summary-report-card">
            <div class="summary-report-card-header">
                <h3 class="bi-people"> Total Patients</h3>
            </div>
            <div class="summary-report-card-body">
                <span>2</span>
            </div>
        </div>
        <div class="summary-report-card">
            <div class="summary-report-card-header">
                <h3>Total Collection</h3>
            </div>
            <div class="summary-report-card-body">
                <span>10,000</span>
            </div>
        </div> -->
        <!-- <div class="default-error" data-text="NO REPORTS"></div> -->
    </div>
</div>
{% endblock content %}


