{% extends 'main.html' %}
{% block content %}
{% load custom_tags %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/cash-pat-file-style.css' %}">
</head>
<div class="main-body">
    <div class="patient-data-container">
        <!-- {{form.as_p}} -->
        <div class="basic-bio-data">            
            <div class="sect">
                <div class="field">
                    <label for="id_patient">Name:</label>
                    <input type="text" name="patient" id="id_patient" placeholder="Patient Name" value="{{patientlog}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_gender">Gender:</label>
                    <input type="text" name="gender" id="id_gender" placeholder="Gender" value="{{patientlog.patient.gender}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_patient_age">Age:</label>
                    <input type="number" name="patient_age" id="id_patient_age" placeholder="Age" value="{{patientlog.patient.date_of_birth|age}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_patlog_id">File No:</label>
                    <input type="text" name="patient" id="id_patlog_id" placeholder="File Bumber" value="{{patientlog.patlog_id}}" readonly class="inp-field">
                </div>
            </div>
            <div class="sect">
                <div class="field">
                    <label for="id_visit_number">Visit Number:</label>
                    <input type="number" name="visit_number" id="id_visit_number" placeholder="Visit Number" value="{{patientlog.id}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_op_number">O/B Number:</label>
                    <input type="text" name="op_number" id="id_op_number" placeholder="ADM Number" value="{{patientlog.patient.op_number}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_payer">Payer Scheme:</label>
                    <input type="text" name="payer" id="id_payer" placeholder="Payer" value="{{patientlog.payment_mode}}" readonly class="inp-field">
                </div>
                <div class="field">
                    <label for="id_bill">Billable Amount:</label>
                    <input type="number" id="id_bill" placeholder="Total Bill" value="{{totalPrice}}" readonly class="inp-field">
                </div>
            </div>            
        </div>
        <div class="record-listing-wrapper no-borr charges-listing-wrapper">
            <div class="listing-cont">
                <table id="main-table-mini" class="listing-data-cont">
                    <thead>
                        <tr class="info-title-wrapper">
                            <th class="columnHeader sort-control bi-sort-up"> Drug/Service</th>
                            <th class="columnHeader sort-control bi-sort-up"> Price</th>
                            <th class="columnHeader sort-control bi-sort-up"> Quantity</th>
                            <th class="columnHeader sort-control bi-sort-up"> Total</th>
                            <th class="columnHeader sort-control bi-sort-up"> Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in allItems %}
                        <tr class="row-items-wrapper">
                            <td class="row-item">{{item}}</td>
                            <td class="row-item">{{item.price}}</td>
                            <td class="row-item">{{item.quantity}}</td>
                            <td class="row-item">{{item.price|multiply:item.quantity}}</td>
                            <td class="row-item">{% if item.paid %}<span class="badge bg-success me-1">Paid</span>{% else %}<span class="badge bg-warning me-1">Not Paid</span>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="row-items-wrapper">
                            <td class="row-item bold">Total</td>
                            <td class="row-item">--</td>
                            <td class="row-item">--</td>
                            <td class="row-item bold">{{totalPrice}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                {% if patientlog.active_status %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="select-field">
                        <label for="id_current_stage">Send To:</label>
                        <select name="current_stage" id="id_current_stage" class="input-field form-select form-select mb-3" required>
                            <option value="">--Select--</option>
                            {% for dpt in departments %}
                            <option value="{{dpt.id}}">{{dpt}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field submit-field">
                        <input type="submit" class="btn btn-primary" value="Send"><span>OR</span>
                        <button type="button" class="btn btn-success" id="finalize_{{patientlog.id}}" url="{% url 'cash-finalize' patientlog.id %}" onclick="openMiniWindow('finalize_{{patientlog.id}}');">Finalize Payment</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        
    </div>
</div>
{% include 'table-scripts.html' %}
{% endblock content %}
